
font {
  font-family: "Inter", sans-serif;
}
#businessType,
#region {
  background-image: url("../src/assets/images/Vector.png");
  background-position: right 30px center;
  background-repeat: no-repeat;
  padding-left: 30px;
  background-size: 1.5em;
}
@keyframes expandDropdown {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.animate-dropdown {
  animation: expandDropdown 0.2s ease-in-out;
  transform-origin: top;
}



/* Add this in your styles.css or a relevant file */
.transition-max-height {
  transition: max-height 0.5s ease-in-out; /* Smooth transition for height */
}

/* CatalogSlider Component Styles */

/* Style for mobile swiper with opacity for non-active slides */
.mobile-opacity-swiper .swiper-slide {
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.mobile-opacity-swiper .swiper-slide-active {
  opacity: 1;
}

/* Style for desktop swiper with opacity for edge slides */
.desktop-opacity-swiper .swiper-slide {
  opacity: 0.6;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.desktop-opacity-swiper .swiper-slide-active,
.desktop-opacity-swiper .swiper-slide.swiper-slide-prev,
.desktop-opacity-swiper .swiper-slide.swiper-slide-next {
  opacity: 1;
}

/* Additional styling for slides based on their position */
.desktop-opacity-swiper .swiper-slide:not(.swiper-slide-visible) {
  opacity: 0;
}

/* Shared transition effect for all slides */
.opacity-transition {
  transition: all 0.3s ease;
}